.Iphones {
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px 70px;
}

@media (max-width: 1220px) {
  .Iphones {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 840px) {
  .Iphones {
    grid-template-columns: 1fr;
  }
}

.IphonesItem {
  font-family: "Exo";
  background: #00000040;
  border-radius: 10px;
  padding: 10px 30px 10px 1px;
  width: 260px;
  display: flex;
  justify-content: space-around;
  position: relative;
  cursor: pointer;
}

@media (max-width: 400px) {
  .IphonesItem {
    width: 250px;
  }
}

.IphonesItem > div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.IphoneItem_titulo {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 100%;
  width: 100%;
}

.IphoneItem_preco {
    color: yellow;
    margin-top: 10px;
}

.IphoneItem_lancamento {
    margin-top: 10px;
}

.IphoneItem_camera {
    margin-top: 10px;
}

.IphoneItem_img {
    height: 140px;
    margin-right: -70px;
}

.Acoes {
    display: flex;
    justify-content: space-between;
  }


.Adicionar {
  background-color: #1b5c50;
  border: none;
  color: #cffcf4;
  border-radius: 5px;
  font-family: "Exo", sans-serif;
  padding: 5px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  width: 90px;
}

.Preencher {
  background-color: #1b5c50;
  border: none;
  color: #cffcf4;
  border-radius: 5px;
  font-family: "Exo", sans-serif;
  padding: 5px;
  width: 190px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.IphonesItem_badge {
  color: black;
  background-color: rgb(255, 255, 255);
  height: 20px;
  text-align: center;
  vertical-align: middle;
  font-size: .8em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  top: -7px;
  left: -10px;
  padding: 0 6px 0 6px;
}
.Remover {
  background-color: #c90000;
  border: none;
  color: #cffcf4;
  border-radius: 5px;
  font-family: "Exo", sans-serif;
  padding: 5px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  width: 90px;
  margin-left: 5px;
}