.DeleteModal {
    margin-top: -20px;
  }
  
  .DeleteModal > div {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  
  .DeleteModal__foto {
    display: flex;
    margin: auto;
    width: 80px;
    padding-top: 15px;
  }
  
  .DeleteModal__confirmar,
  .DeleteModal__cancelar {
    border: none;
    border-radius: 5px;
    font-family: "Exo", sans-serif;
    padding: 5px;
    max-width: 280px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    width: 48%;
    color: white;
  }
  
  .DeleteModal__confirmar {
    background-color: darkviolet;
  }
  
  .DeleteModal__cancelar {
    background-color: red;
  }