.Home {
    font-family: "Exo";
    position: relative;
    min-height: calc(100vh - 60px);
    padding: 15px;
  }

  .Home_container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @media (max-width: 350px) {
    .Home__container {
      justify-content: unset;
    }
  }